*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/windows
/captures
.externalNativeBuild
.cxx
local.properties
/ios
/linux

# Firebase configuration files with sensitive information
lib/firebase_options.dart

